#!/usr/bin/env bash
source_up_if_exists

watch_file pyproject.toml
watch_file tox.ini
watch_file Justfile
watch_file .pre-commit-config.yaml
watch_file .python-version

# Load environment variables from .env files if they exist
dotenv_if_exists .env
dotenv_if_exists .env.local

# Check for required tools and provide guidance if they are missing
if ! has git; then
    log_error "❌ git not found."
    log_error "This project relies on git for development, please install it to run the project:"
    log_error " - https://git-scm.com/downloads"
    exit 1
fi

if ! has uv; then
    log_error "❌ UV not found..."
    log_error "This project relies on UV for development, please install it to run the project:"
    log_error " - https://uv.pypa.io/en/stable/#installation"
    return 1
fi

if has layout_uv; then
    layout uv
elif [ -d .venv ]; then
    source ".venv/bin/activate"
else
    log_status "⚠️  No virtual environment found. It's recommended to use one for development."
fi

if ! has just; then
    log_status "❌ Justfile not found..."
    log_status "Developer experience will be degraded, install it to get the best experience:"
    log_status " - https://just.systems/"
fi

if ! has pre-commit && ! has prek; then
    log_status "❌ no git commit hooks runner found..."
    log_status "Developer experience will be degraded, It's recommended to install one of them:"
    log_status " - pre-commit: https://pre-commit.com/#install"
    log_status " - prek: https://prek.j178.dev/installation/"
fi

if ! has tox; then
    log_status "❌ Tox not found..."
    log_status "Developer experience will be degraded,It's recommended to install it to run the tests:"
    log_status " - https://tox.wiki/en/latest/install.html"
fi

# Install git hooks if possible
if has pre-commit; then
    log_status "⌛ Installing pre-commit git hooks..."
    pre-commit install
elif has prek; then
    log_status "⌛ Installing prek git hooks..."
    prek install
fi

export PIP_DISABLE_PIP_VERSION_CHECK=1
export PYTHONDONTWRITEBYTECODE=1

log_status "✅ Environment setup complete."
